body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-image: url("/projeto-listagem-pokemon/src/imagens/claro.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #333333;
}

.modo-escuro {
	background-image: url('/projeto-listagem-pokemon/src/imagens/escuro.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: #f5f5f5;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 18px;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
	transform: scale(1.13);
	cursor: pointer;
}

main {
	padding: 25px;
}

main .listagem-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

main .cartao-pokemon {
	background-color: #d8e3ec;
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {

	background-color: #ee74e28c;
	background-image: linear-gradient(19deg, #3ee6ec88 0%, #ee74e294 100%);

}

.modo-escuro .cartao-pokemon {
	background-color: #ff3caa6b;
	background-image: linear-gradient(225deg, #ff3caa79 0%, #784ba0d2 50%, #2b85c59f 100%);
}

main .cartao-pokemon .informacoes {
	display: flex;
	justify-content: space-between;
	border: 1px solid #333333;
	border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
	padding: 5px;
	text-transform: uppercase;
	font-size: 17px;
}

main .cartao-pokemon .gif {
	width: 90px;
	height: 90px;
}

main .cartao-pokemon .tipos {
	display: flex;
	gap: 15px;
}

main .cartao-pokemon .tipo {
	padding: 8px;
	border-radius: 10px;
}

.grama {
	background-color: #7ac74c;
}

.veneno {
	background-color: #df67ddfb;
}

.fogo {
	background-color: #ee8130;
}

.agua {
	background-color: #6390f0;
}

.inseto {
	background-color: #a6b91a;
}

.normal {
	background-color: #a8a878;
}

.eletrico {
	background-color: #f8d030;
}

.lutador {
	background-color: #c02038;
}

.psiquico {
	background-color: #f85888;
}

.fantasma {
	background-color: #705898;
}

.pedra  {
	background-color: #e0c068;
}

.terra {
	background-color: #b8a038;
}

.toxico {
	background-color: #A040a0;
}

.gelo {
	background-color: #98d8d8;
}

main .descricao {
	max-height: 80px;
	overflow-y: scroll;
	font-size: 14px;
	padding-right: 10px;
}