body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-image: url('/pokemon/claro.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
}

.modo-escuro {
	background-image: url('/pokemon/escuro.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: #f5f5f5;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 18px;
}

header .logo,
header .imagem-botao {
	width: 30px;
	transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
	background: none;
	border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
	transform: scale(1.13);
	cursor: pointer;
}

main {
	padding: 25px;
}

main .listagem-pokemon {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

main .cartao-pokemon {
	background-color: #d8e3ec;
	width: 200px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {

	background-color: #3e4aec;
	background-image: linear-gradient(180deg, #f8f53ce0 0%, #ee74e200 100%);

}

.modo-escuro .cartao-pokemon:hover {
	background: rgb(2, 46, 73);
	background: linear-gradient(223deg, rgba(2, 46, 73, 0.6727065826330532) 5%, rgba(68, 1, 41, 0.700717787114846) 42%, rgba(53, 7, 89, 0.7203256302521008) 77%);
	;
}

.modo-escuro .cartao-pokemon {
	background: rgb(0, 0, 0);
	background: linear-gradient(137deg, rgba(0, 0, 0, 0.8575805322128851) 0%, rgba(188, 120, 236, 0.8099614845938375) 50%, rgba(0, 0, 0, 0.5382528011204482) 100%);
}

main .cartao-pokemon .informacoes {
	display: flex;
	justify-content: space-between;
	border: 1px solid #333333;
	border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
	padding: 5px;
	text-transform: uppercase;
	font-size: 17px;
}

main .cartao-pokemon .gif {
	width: 90px;
	height: 90px;
}

main .cartao-pokemon .tipos {
	display: flex;
	gap: 15px;
}

main .cartao-pokemon .tipo {
	padding: 8px;
	border-radius: 10px;
}

.grama {
	background-color: #7ac74c;
}

.veneno {
	background-color: #df67ddfb;
}

.fogo {
	background-color: #ee8130;
}

.agua {
	background-color: #6390f0;
}

.inseto {
	background-color: #a6b91a;
}

.normal {
	background-color: #a8a878;
}

.eletrico {
	background-color: #f8d030e5;
}

.lutador {
	background-color: #c02038e7;
}

.psiquico {
	background-color: #f85888e5;
}

.fantasma {
	background-color: #705898;
}

.pedra {
	background-color: #e0c068;
}

.terra {
	background-color: #b8a038;
}

.toxico {
	background-color: #A040a0;
}

.gelo {
	background-color: #98d8d8;
}

.dragao {
	background-color: #7238f8de;
}

.voador {
	background-color: #a890f0;
}


main .descricao {
	max-height: 80px;
	overflow-y: scroll;
	font-size: 14px;
	padding-right: 10px;
}
